<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Home - Library</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
    <div class="container">
        <h2>Bem-vindo, <span th:text="${nomeUsuario}">Usuário</span>!</h2>

        <p>
            <a th:href="@{/user/edit}">Editar meu perfil</a> |
            <a th:href="@{/books}">Listar livros</a> |
            <a th:href="@{/reservar}">Reservar livros</a> |
            <a th:href="@{/return_book}">Devolver livros</a> |
            <a th:href="@{/logout}">Sair</a>
        </p>
    </div>
</body>
</html>
